[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/infinity-core"]
	path = lib/infinity-core
	url = https://github.com/pancakeswap/infinity-core
[submodule "lib/prb-math"]
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
[submodule "lib/infinity-hooks"]
	path = lib/infinity-hooks
	url = https://github.com/pancakeswap/infinity-hooks
[submodule "lib/pancake-create3-factory"]
	path = lib/pancake-create3-factory
	url = https://github.com/pancakeswap/pancake-create3-factory
